:root{
    --background: #6081e3;
    --light:  rgb(249, 249, 232);
    --shadow: #020101;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 120vw;
    height: 120vw;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    font-family: lucinda- sans-serif;
    color: var(--light);
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 450px;
    max-width: 70%;
    text-align: center;
}

#start-button {
    margin-bottom: 15px;
}

#questions {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

li {
    padding-bottom: 4px;
    color: var(--light);
    text-shadow: 1.5px 1px 3px var(--shadow);
    list-style-type: none;
}